body{background-color: rgb(220, 100, 26);

}


.head{color: rgb(0, 0, 0);
        font-size:large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#body1{color: rgb(0, 0, 0);
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
}

#body2{color: rgb(0, 0, 0);
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
}







